.container {
  height: 100%;

  border-radius: 50%;
  background-color: #CDDCD7;
}

.container.big {
  width: 36px;
  height: 36px;
}

.container.small {
  width: 26px;
  height: 26px;
}

.image {
  width: 100%;
  height: 100%;

  border-radius: 50%;
  object-fit: cover;
}
