.box {
  width: 100%;

  background-color: #FFFFFF;
  border: 1px solid #C2C2C2;
  border-radius: 5px;
}

.box.borderTop0 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

.box.withSidebar {
  padding-right: 0;
  display: flex;
  justify-content: space-between;
}

.breadcrumbs {
  margin-bottom: 20px;
  padding: 18px 40px 0;
}

.main {
  width: 100%;
}

.inner {
  padding: 0 40px 40px;
  margin-top: 20px;
}

.sidebar {
  width: 310px;
  margin-left: 30px;
  flex-shrink: 0;

  border: 1px solid #C2C2C2;
  border-radius: 5px;
  background-color: #FFFFFF;
}

@media (max-width: 964px) {
  .withSidebar {
    flex-direction: column;
  }

  .breadcrumbs {
    margin-bottom: 20px;
    padding: 10px 15px 0;
  }

  .inner {
    padding: 0 15px 15px;
    margin-top: 10px;
  }

  .breadcrumbs {
    margin-bottom: 10px;
  }

  .sidebar {
    margin: 0;
    width: 100%;
  }
}
