.postBody {
  p {
    margin: 0;
    margin-bottom: 28px;

    font-size: 18px;
    line-height: 30px;
    color: #515151;
  }

  .image {
    margin: 0 10px 28px;

    img {
      cursor: pointer;

      transition: all .1s ease;
      width: 100%;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  ol {
    padding: 0;
    margin-bottom: 40px;
    counter-reset: myCounter;

    li {
      list-style: none;
    }

    li:before {
      counter-increment: myCounter;
      content: counter(myCounter);

      display: inline-block;
      margin: 0;
      margin-right: 12px;
      padding: 2px;
      min-width: 18px;
      height: 18px;

      color: #ffffff;
      text-align: center;
      font-size: 14px;
      line-height: 16px;

      background: #6875BB;
      border-radius: 4px;
    }
  }

  ul {
    padding: 0;
    margin-bottom: 40px;

    li {
      list-style: none;
      position: relative;

      padding-left: 30px;
    }

    li:before {
      content: "";
      position: absolute;
      left: 0;
      top: 9px;

      display: inline-block;
      width: 18px;
      height: 18px;

      background: #B9DDF5;
      border: 1px solid #00A8CC;
      border-radius: 4px;
    }
  }

  li {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 30px;
    color: #515151;
  }

  .fr-emoticon-img {
    background-repeat: no-repeat !important;
    font-size: inherit;
    height: 1em;
    width: 1em;
    min-height: 20px;
    min-width: 20px;
    display: inline-block;
    margin: -.1em .1em .1em;
    line-height: 1;
    vertical-align: middle;
  }

  .accordion {
    position: relative;
    z-index: 1;

    margin-bottom: 28px;

    background: #6875BB;
    border-radius: 30px;
  }

  .accordionTitle {
    position: relative;

    display: flex;
    margin: 0;
    padding: 20px 76px 20px 40px;

    font-weight: 800;
    font-size: 22px;
    line-height: 41px;
    color: #FFFFFF;

    background: linear-gradient(90.01deg, #0C007E 1.41%, #460996 15.12%, #000B65 25.18%, #00084A 38.28%, #3A2070 55.78%, #120073 67.59%, #0012A8 81.96%, #6475FF 99.99%), #C4C4C4;
    box-shadow: 0 4px 16px rgba(8, 17, 82, 0.2);
    border-radius: 30px;

    cursor: pointer;

    &::after {
      content: '';

      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      width: 100%;
      height: 100%;

      background: #FFFFFF;
      opacity: 0.3;
      backdrop-filter: blur(20px);
      border-radius: 30px;
    }

    &::before {
      content: '';

      position: absolute;
      z-index: 20;
      right: 24px;
      top: 50%;

      margin-top: -14px;
      width: 28px;
      height: 28px;

      background-image: url("./open.svg");
    }

    p, h1, h2, h3, h4, h5 {
      margin: 0;

      color: #ffffff;
    }
  }

  .accordionDescription {
    overflow: hidden;
    padding: 0 40px;
    height: 0;

    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;

    transition: all .2s ease;

    p, h1, h2, h3, h4, h5 {
      margin: 0;

      color: #ffffff;
    }
  }

  .open {
    .accordionTitle {
      &::before {
        background-image: url('./close.svg');
      }
    }

    .accordionDescription {
      height: auto;
      padding: 28px 40px 40px 40px;
    }
  }

  .rowInner {
    display: flex;
    flex-wrap: wrap;
  }

  .raw-html-embed {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 28px;
  }

  video {
    max-width: 100%;
  }
}
